body{
    display: flex;
    background-color: black;
}

.calcContainer{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2%;
    background-color: lightgrey;
    border-radius:1rem;
    margin-top: 10%;
    gap: 10px;
    height: 325px;
    width: 200px;
    
    
}
.display{

    gap: 0px;
    background: white;
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    color: black;
    text-align: end;
}
.allButton{
    gap: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
.row{
    display: flex;
    gap: 2px;
}
.button{
    border-radius: 1rem;
    height: 50px;
    width: 50px;
    background-color: white;

}
.button#clear, .button#delete{
    width: 100px;
    height: 50px;

    
}
#clear{
    background-color: #faa ;
}
#delete{
    background-color: #aaf;
}
#display{
    align-self: center;
}